<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="blPersistenceUnitManager"
          class="org.broadleafcommerce.common.extensibility.jpa.MergePersistenceUnitManager">
        <property name="persistenceXmlLocations">
            <list>
                <value>classpath*:/META-INF/persistence-demo.xml</value>
            </list>
        </property>
        <property name="dataSources">
            <map>
                <entry key="jdbc/web" value-ref="webDS"/>
                <entry key="jdbc/webSecure" value-ref="webDS"/>
                <entry key="jdbc/cmsStorage" value-ref="webStorageDS"/>
                <!--<entry key="jdbc/webSandbox" value-ref="webSandboxDS"/>-->
            </map>
        </property>
        <property name="defaultDataSource" ref="webDS"/>
    </bean>
    
    <bean id="webDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost/broadleaf;ifexists=true" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

    <bean id="webStorageDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost/broadleaf;ifexists=true" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	
	<!--<bean id="webSandboxDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost/broadleaf_sndbx;ifexists=true" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>-->
	
	<bean id="blCacheManager"
          class="org.broadleafcommerce.common.extensibility.cache.ehcache.MergeEhCacheManagerFactoryBean">
        <property name="shared" value="true"/>
        <property name="configLocations">
            <list>
                <value>classpath:bl-override-ehcache.xml</value>
            </list>
        </property>
    </bean>

    <bean id="blCatalogMultiplier" class="org.broadleafcommerce.core.util.demo.CatalogMultiplierImpl"/>

    <aop:config>
		<aop:pointcut id="blCatalogMultiplierOperation" expression="execution(* org.broadleafcommerce.core.util.demo.CatalogMultiplier.*(..))"/>
	    <aop:advisor advice-ref="blTxAdvice" pointcut-ref="blCatalogMultiplierOperation"/>
	</aop:config>

    <bean id="blProductDao" class="org.broadleafcommerce.core.catalog.dao.ProductDaoImpl">
        <property name="currentDateResolution" value="1000"/>
	</bean>
    
    <!-- PayPal Configuration -->

    <bean id="blConfiguration" class="org.broadleafcommerce.common.config.RuntimeEnvironmentPropertiesConfigurer">
        <property name="propertyLocations">
            <set>
                <value>classpath:config/bc/</value>
                <value>classpath:config/bc/paypal/</value>
                <value>classpath:config/bc/override/</value>
            </set>
        </property>
        <property name="environments">
            <set>
                <value>production</value>
                <value>staging</value>
                <value>integration</value>
                <value>development</value>
            </set>
        </property>
        <property name="defaultEnvironment" value="development"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <bean id="blPayPalPaymentService" class="org.broadleafcommerce.core.payment.service.PaymentServiceImpl">
        <property name="paymentModule" ref="blPayPalModule"/>
    </bean>

    <bean id="blAuthorizeAndDebitWorkflow" class="org.broadleafcommerce.core.workflow.SequenceProcessor">
        <property name="processContextFactory">
            <bean class="org.broadleafcommerce.core.payment.service.workflow.PaymentProcessContextFactory">
                <property name="paymentActionType" value="AUTHORIZEANDDEBIT"/>
            </bean>
        </property>
        <property name="activities">
            <list>
                <bean class="org.broadleafcommerce.core.payment.service.workflow.PaymentActivity">
                    <property name="paymentService" ref="blPayPalPaymentService"/>
                    <property name="userName" value="web"/>
                </bean>
                <bean class="org.broadleafcommerce.core.payment.service.workflow.PaymentActivity">
                    <property name="paymentService" ref="blCreditCardService"/>
                    <property name="userName" value="web"/>
                </bean>
            </list>
        </property>
        <property name="defaultErrorHandler" ref="blDefaultErrorHandler"/>
    </bean>

    <bean id="blPayPalModule" class="org.broadleafcommerce.payment.service.module.PayPalPaymentModule">
        <property name="payPalPaymentService" ref="blPayPalVendorOrientedPaymentService"/>
    </bean>
    
    <bean id="blPayPalVendorOrientedPaymentService" class="org.broadleafcommerce.vendor.paypal.service.payment.PayPalPaymentServiceImpl">
        <property name="libVersion" value="${paypal.version}"/>
        <property name="password" value="${paypal.password}"/>
        <property name="user" value="${paypal.user}"/>
        <property name="signature" value="${paypal.signature}"/>
        <property name="serverUrl" value="${paypal.api.url}"/>
        <property name="failureReportingThreshold" value="1"/>
        <property name="userRedirectUrl" value="${paypal.user.redirect.url}"/>
        <property name="returnUrl" value="http://localhost:8080/broadleafdemo/checkout/paypalDetails.htm"/>
        <property name="cancelUrl" value="http://localhost:8080/broadleafdemo/basket/viewCart.htm"/>
        <property name="additionalConfig">
            <map>
                <entry key="HDRIMG" value="http://localhost:8080/broadleafdemo/images/havalettaLogo.png"/>
                <entry key="HDRBORDERCOLOR" value="333333"/>
                <entry key="HDRBACKCOLOR" value="669933"/>
                <entry key="PAYFLOWCOLOR" value="B58253"/>
            </map>
        </property>
    </bean>

    <aop:config>
        <aop:aspect id="payPalQos" ref="blServiceMonitor">
            <aop:pointcut id="payPalProcessMethod" expression="execution(* org.broadleafcommerce.vendor.paypal.service.payment.PayPalPaymentService.process(org.broadleafcommerce.vendor.paypal.service.payment.message.PayPalPaymentRequest))"/>
            <aop:around method="checkServiceAOP" pointcut-ref="payPalProcessMethod"/>
        </aop:aspect>
    </aop:config>
    
    <!-- End of PayPal Configuration -->

</beans>